@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Iceberg', cursive;
    font-size: 62.5%;
    list-style: none;
    text-decoration: none;
}